In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### Data import

In [2]:
dataset_name = "gbsg2"
data_dir = "dataset/" + dataset_name
data = pd.read_csv(data_dir + '/data_initial.csv', header=None)

In [3]:
data.columns = ["time","censor","age","estrec","horTh","menostat","pnodes","progrec","tgrade", "tsize"]

### Data preprocessing

In [4]:
data['ER'] = 0
data['ER'][data['estrec'] >= 20] = 1

data['PR'] = 0
data['PR'][data['progrec'] >= 20] = 1

data.drop(columns=["estrec", "progrec"])

       time  censor   age  horTh  menostat  pnodes  tgrade  tsize  ER  PR
0    1814.0       1  70.0      0         1     3.0       2   21.0   1   1
1    2018.0       1  56.0      1         1     7.0       2   12.0   1   1
2     712.0       1  58.0      1         1     9.0       2   35.0   1   1
3    1807.0       1  59.0      1         1     4.0       2   17.0   1   1
4     772.0       1  73.0      0         1     1.0       2   35.0   1   1
..      ...     ...   ...    ...       ...     ...     ...    ...  ..  ..
681   721.0       0  49.0      0         0     3.0       3   30.0   1   0
682   186.0       0  53.0      1         1    17.0       3   25.0   0   0
683   769.0       1  51.0      0         0     5.0       3   25.0   0   1
684   727.0       1  52.0      0         1     3.0       2   23.0   1   0
685  1701.0       1  55.0      0         1     9.0       2   23.0   0   1

[686 rows x 10 columns]

In [5]:
data = data[['time','censor','age','ER','horTh','menostat','pnodes','PR','tgrade','tsize']]

In [7]:
data[data.time <= 0]

Empty DataFrame
Columns: [time, censor, age, ER, horTh, menostat, pnodes, PR, tgrade, tsize]
Index: []

### Split data into treated and control group

In [32]:
data_treated = data[data['horTh']==1].drop(["horTh"] , axis=1)
data_control = data[data['horTh']==0].drop(["horTh"] , axis=1)

### Save data

In [33]:
data.to_csv(data_dir + "/data.csv", header=False, index=False)
data_treated.to_csv(data_dir + "/data_treated.csv", header=False, index=False)
data_control.to_csv(data_dir + "/data_control.csv", header=False, index=False)